# Ignore Python virtual environment
venv/

# Ignore large data files
*.csv
*.db

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model files (optional, if saved locally and not uploaded)
models/
*.bin
*.pt

# Ignore log files and temporary files
*.log
*.tmp

# Ignore Colab temporary files
/content/

# Ignore sensitive configuration files
.env

