# Ignore Python virtual environment
venv/

# Ignore large data files
*.xlsx
*.xlsm
*.xls
*.csv
*.txt
*.db

# Ignore Excel temporary files
~$*.xlsm
~$*.xlsx
~$*.xls

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model files (optional)
models/
*.bin
*.pt

# Ignore log files and temporary files
*.log
*.tmp

# Ignore Colab temporary files
/content/

# Ignore sensitive configuration files
.env
